body, html {
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS";
  margin: 0;
}

body.page {
  margin: 0;
  background: #ddc6b4;
  /* background: #808080; */
  /* background: #818f88; */
}

/* body.project {
  background: #8f8881;
  margin: 0;
} */

a.app-link {
  text-decoration: none;
}

a.app-link:hover {
  color: #5b7769;
}

.proj-img {
  height: 0%;
}

#project {
  margin-top: 70px;
  color: #818f88;
}

@media only screen and (min-width: 900px) {
  /* adapted slightly from https://css-tricks.com/snippets/css/typewriter-effect/ */
  .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end 10;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ddc6b4; }
  }
}

@media only screen and (min-aspect-ratio:5/4) {
  #home {
    /* image from https://unsplash.com/photos/K0U0eSAjFGU */
    background: url('water.jpg');
    background-size: 100% auto;
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }
}

@media only screen and (max-aspect-ratio:5/4) {
  #home {
    background: url('water2.jpg');
    background-size: cover;
    object-fit: cover;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  #mySidenav, #sidenav-icon {
    display: none;
  }

  nav {
    z-index: 10;
    text-align: center;
    /* margin-top: 20px; */
    /* background: rgba(221,198,180, 0.6); */
    background: rgba(221,198,180);
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav.top {
    margin: 0;
    text-align: center;
    background: rgba(221,198,180);
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 2px solid #818f88;
    /* box-shadow: 20px 0px 20px #b8a08f; */
    /* box-shadow: 20px 0px 20px #818f88; */
  }

  nav.top a {
    color: #5b7769;
  }

  nav.top a:hover {
    color: white;
  }

  nav .circle {
    /* background: #5b7769; */
    /* background: white; */
    background: #818f88;
  }

  nav button {
    background: none;
    border: none;
    padding: 10px;
  }

  nav a {
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #3a5e54;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    background: none;
  }

  nav a:hover {
    color: white;
   /* color: #5b7769; */
  }
}

.prof button {
  padding: 10px;
  /* background: rgba(221,198,180); */
  background: #818f88;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  nav {
    display: none;
  }
  /* The side navigation menu */
  /* code for sidebar from https://www.w3schools.com/howto/howto_js_sidenav.asp */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ddc6b4;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3a5e54;
    /* color: #525252; */
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  #sidenav-icon {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 1499px) {
  #about {
    padding-top: 50px;
  }

  .flex-c1 {
    display: none;
  }

  .flex-c2 {
    /* overflow: auto; */
    /* object-fit: contain; */
    /* display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    object-fit: contain; */
    max-width: min(80%, 600px);
    margin: 0 auto 0 auto;
    line-height: 0;
  }

  .about-flex {
    flex-wrap: wrap;
    align-items: flex-end;
    /* padding-top: 100px; */
  }

  .me {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1500px) {
  .flex-c1 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  .flex-c2 {
    display: none;
  }
}

h1 {
  font-family: arial;
  font-weight: bold;
  font-style: italic;
  font-size: 72px;
  text-shadow: 2px 2px white;
  margin-bottom: 20px;
  margin-top: 0px;
}

#home h1 {

  color: #ddc6b4;

  text-align: center;
}

#about {
  /* margin-top: 70px; */
  /* min-height: 100vh; */
  color: #3a5e54;
  /* color: #818f88; */
  /* color: ; */
  background: #ddc6b4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-items: bottom; */
  /* object-fit: contain; */
}


.project-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

@media only screen and (max-width: 1000px) {
  .project-display {
    flex-wrap: wrap;
  }
}

.card {
  background: white;
  background: #ebddd3;
  padding: 30px;
  border-radius: 20px;
  /* border: 2px solid #818f88; */
  /* #b8a08f */
  /* -webkit-box-shadow: 0 0 10px #818f88;
        box-shadow: 0 0 10px #818f88; */

}

.small-card {
  width: 300px;
  min-height: 300px;
  /* border: 2px solid #818f88; */
  padding: 50px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.small-card > img {
  flex: 0;
  padding: 20px 0px 20px 0px;
}

.small-card > a {
  color: white;
  /* align-self: center; */
}

.small-card > a:hover {
  color: #bacfc4;
}

.card1 {
  /* background: #c1dbd1 */
  background: #bacfc4;
  /* border-right: none; */
}

.card2 {
  background: #84b39a;
  /* border-right: none; */
}

.card3 {
  background: #4a8a68;
  /* border-right: none; */
}

.card4 {
  color: white;
  background: #226642;
}

.desc span {
  font-family: arial;
  /* font-weight: bold; */
  font-size: 20px;
  color: white;
}

.desc {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.me {
  /* max-height: 757px; */
  object-fit: contain;
}

.table {
  /* padding-top: 20%; */
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px;
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* position: relative;
  width: 100%;
  height: 100%; */
}

.cell {
  margin: 50px auto 50px auto;
  width: 80%;
  padding-bottom: 30px;
  overflow: auto;
  /* box-shadow: 20px 20px pink; */
  border-radius: 10px;
}

.pcell {
  text-align: center;
  width: 80%;
  margin: auto;
}

.circleFrame {
  width: 200px;
  height: 200px;
  /* background: #d4c9d4; */
  background: #24403e;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 25px;
}

.firstPic {
  background-image: url("me.jpeg");
  /* background-image: url('code.png') */
}

.circle {
  width: 5px;
  height: 5px;
  background: #ddc6b4;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 5px;
}

.frameBox {
  display: inline-block;
  /* width: 100%; */
  text-align: center;
}

.about {
  width: 80%;
  /* padding-top: 20px; */
  margin: auto;
}

.about-flex {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto 0 auto;
  /* flex-wrap: wrap; */
}

.bio {
  /* max-width: 600px; */
  text-align: left;
  font-size: 20px;
  align-self: center;
  /* align-self: flex-end; */
}

.about-item {
  margin: 20px;
}

.about-bar {
  /* background: #a17f65; */
  background: #d4af53;
  padding: 20px 20px 0px 20px;
}

.newParagraph {
  padding-top: 10px;
}

#home {
  /* text-align: center; */
  margin: 0;
}

.box {
  height: 100%;
}

.about-section {
  /* padding: 25px; */
  color: #33261c;
}

.gist {
  /* min-width: 50%; */
  max-width: 700px;
  /* background-color: #ddc6b4;
  color: #34423b; */
}

#contact {
  background: #a5b5ad;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact h1 {
  text-align: center;
  /* color: #382a22; */
}

.contact-flex {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
}

.contact-flex a {
  margin: 30px;
}
