body, html {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 769px) {
  #home {
    background: url('water.jpg');
    background-size: 100% auto;
    width: 100%;
    height: 100%;
  }
  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end 10;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ddc6b4; }
  }
}

@media only screen and (max-width: 768px) {
  #home {
    background: url('water2.jpg');
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

h1 {
  font-family: arial;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px white;
  color: #ddc6b4;
  font-size: 72px;
  /* font-size: 38px; */
  text-align: center;
  margin-bottom: 20px;
}

.desc span {
  font-family: arial;
  /* font-weight: bold; */
  font-size: 20px;
  color: white;
}

.desc {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

nav {
  z-index: 10;
  margin-top: 20px;
  background: rgba(221,198,180, 0.6);
}

nav .circle {
  background: #5b7769;
}

nav button {
  background: none;
  border: none;
  padding: 10px;
}

nav a {
  font-family: arial;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  background: none;
}

nav a:hover {
 color: #5b7769;
}

.table {
  /* padding-top: 20%; */
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* position: relative;
  width: 100%;
  height: 100%; */
}

.cell {
  margin: 50px auto 50px auto;
  width: 80%;
  padding-bottom: 30px;
  overflow: auto;
  /* box-shadow: 20px 20px pink; */
  border-radius: 10px;
}

.pcell {
  text-align: center;
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  height: 10%;
}

.column {
  flex: 50%;
  object-fit: contain;
}

.greenGrid {
  background-image: url("grid.png");
}

.firstPic {
  background-image: url("me.jpeg");
}

.circle {
  width: 5px;
  height: 5px;
  background: #ddc6b4;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 5px;
}

.frameBox {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.circleFrame {
  width: 200px;
  height: 200px;
  /* background: pink; */
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 25px;
}

.about {
  width: 80%;
  padding-top: 30px;
  margin: auto;
}

.newParagraph {
  padding-top: 10px;
}

#home {
  text-align: center;
  margin: 0;
}

.grid {
  position: absolute;
  z-index: -1;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  width: 100%;
  height: 100%;
}

.grid > div {
  /* height: 100px; */
  /* width: 10%; */
  border-style: solid;
  border-color: white;
  border-left-color: transparent;
  border-top-color: transparent;
}

.grid > div.firstInRow {
  border-left-color: white;
}

.grid > div.firstRow {
  border-top-color: white;
}

.grid > div.withText {
  border-color: transparent;
}

.tri {
  content: "";
  width: 0px;
  height: 0px;
  /* position: absolute; */
  border-left: 12px solid transparent;
  border-right: 24px solid #fff;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.box {
  height: 100%;
}
@media only screen and (min-width: 769px) {

}
