body, html {
  width: 100%;
  height: 100%;
}

body.page {
  margin: 0;
  background: #818f88;
  /* background: #acbfb6; */
  /* color: #302d25; */
  /* color: white; */
  /* background: #739c83; */
}

/* body.project {
  background: #8f8881;
  margin: 0;
} */

.project-display {
  display: flex;
  flex-direction: row;
}

a.app-link {
  text-decoration: none;
}

a.app-link:hover {
  color: #5b7769;
}

/* img {
  height: 0%;
} */

#project {
  margin-top: 70px;
  /* color: #8cb8a2; */
}

@media only screen and (min-width: 900px) {
  /* adapted slightly from https://css-tricks.com/snippets/css/typewriter-effect/ */
  .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end 10;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ddc6b4; }
  }
}

@media only screen and (min-aspect-ratio:5/4) {
  #home {
    /* image from https://unsplash.com/photos/K0U0eSAjFGU */
    background: url('water.jpg');
    background-size: 100% auto;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-aspect-ratio:5/4) {
  #home {
    background: url('water2.jpg');
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  #mySidenav, #sidenav-icon {
    display: none;
  }

  nav {
    z-index: 10;
    margin-top: 20px;
    background: rgba(221,198,180, 0.6);
  }

  nav.top {
    margin: 0;
    text-align: center;
    background: rgba(221,198,180);
    position: fixed;
    width: 100%;
    top: 0;
  }

  nav .circle {
    background: #5b7769;
  }

  nav button {
    background: none;
    border: none;
    padding: 10px;
  }

  nav a {
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    background: none;
  }

  nav a:hover {
   color: #5b7769;
  }
}

.prof button {
  padding: 10px;
  background: rgba(221,198,180);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  nav {
    display: none;
  }
  /* The side navigation menu */
  /* code for sidebar from https://www.w3schools.com/howto/howto_js_sidenav.asp */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ddc6b4;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
}

h1 {
  font-family: arial;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px white;
  color: #ddc6b4;
  font-size: 72px;
  /* font-size: 38px; */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

#about {
  margin-top: 70px;
}

.desc span {
  font-family: arial;
  /* font-weight: bold; */
  font-size: 20px;
  color: white;
}

.desc {
  padding-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.table {
  /* padding-top: 20%; */
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px;
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* position: relative;
  width: 100%;
  height: 100%; */
}

.cell {
  margin: 50px auto 50px auto;
  width: 80%;
  padding-bottom: 30px;
  overflow: auto;
  /* box-shadow: 20px 20px pink; */
  border-radius: 10px;
}

.pcell {
  text-align: center;
  width: 80%;
  margin: auto;
}

.circleFrame {
  width: 200px;
  height: 200px;
  /* background: #ddc6b4; */
  background: #24403e;
  /* border: 1px solid black; */
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 25px;
}

.firstPic {
  background-image: url("me2.png");
  /* background-image: url('code.png') */
}

.circle {
  width: 5px;
  height: 5px;
  background: #ddc6b4;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 5px;
}

.frameBox {
  display: inline-block;
  /* width: 100%; */
  text-align: center;
}

.about {
  width: 80%;
  /* padding-top: 20px; */
  margin: auto;
}

.about-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.newParagraph {
  padding-top: 10px;
}

#home {
  /* text-align: center; */
  margin: 0;
}

.box {
  height: 100%;
}

.about-section {
  /* padding: 25px; */
  color: #33261c;
  /* font-family: 'arial'; */
}

.gist {
  /* min-width: 50%; */
  max-width: 700px;
  /* background-color: #ddc6b4;
  color: #34423b; */
}
